body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #d91f1d;
    /* 🔹 Mario Red */
    color: #fff;
    text-align: center;
}


header {
    padding: 60px 20px;
    background-image: url('header-bg.png');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 400px auto;
    background-color: #d91f1d;
    /* 🔹 Mario red */
    padding: 135px 0px 0px 0px;
    color: #fff;
}


@font-face {
    font-family: 'SuperMario';
    src: url('fonts/SuperMario256.ttf') format('truetype');
}

h1 {
    font-family: 'SuperMario', sans-serif;
    font-size: 2.8rem;
    margin-bottom: 0px;
    color: white;/
}

.featured-movie img {
    width: 200px;
    border-radius: 15px;
    margin: 20px 0;
}

section {
    margin: 0px 0;
    background-color: #d91f1d;
    /* 🔹 Mario red */
    padding: 5px;
    border-radius: 15px;
    width: 80%;
    color: white;
    /* Make text readable */
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px 0;
    font-size: 1.2rem;
}

button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
    border-radius: 8px;
    background: #ffcc00;
    color: #333;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #ffdd33;
}

.date {
    font-size: 1.2rem;
    color: white;
    margin-top: 10px;
    font-weight: bold;
}

footer {
    margin-top: 40px;
    padding: 20px;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.4);
}